Node-REDflows.json
[{"id":"e3503e59.9525f","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"2c6e2d90.90ca72","type":"ui_form","z":"e3503e59.9525f","name":"","label":"","group":"3de33f8b.39b78","order":1,"width":0,"height":0,"options":[{"label":"Enter the input","value":"input","type":"text","required":true,"rows":null}],"formValue":{"input":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":130,"y":280,"wires":[["6ddc7c64.73acc4"]]},{"id":"6ddc7c64.73acc4","type":"function","z":"e3503e59.9525f","name":"input parsing","func":"msg.payload=msg.payload.input;\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":280,"wires":[["ea3b55fc.2de968","76b73f9a.2fadb"]]},{"id":"ea3b55fc.2de968","type":"ui_text","z":"e3503e59.9525f","group":"3de33f8b.39b78","order":2,"width":0,"height":0,"name":"","label":"user input","format":"{{msg.payload}}","layout":"row-spread","x":440,"y":340,"wires":[]},{"id":"76b73f9a.2fadb","type":"watson-conversation-v1","z":"e3503e59.9525f","name":"chatbot","workspaceid":"8bfa1c22-2cea-47a1-ac83-d1ac578e9f1b","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/569473c9-c924-404d-9b0b-449afab49478","timeout":"","optout-learning":false,"x":500,"y":200,"wires":[["27516f6d.5a567","4d19c433.db6e5c"]]},{"id":"27516f6d.5a567","type":"debug","z":"e3503e59.9525f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":670,"y":200,"wires":[]},{"id":"4d19c433.db6e5c","type":"function","z":"e3503e59.9525f","name":"output parser","func":"msg.payload=msg.payload.output.text[0]\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":300,"wires":[["80401182.efec","57bf36f1.966c98"]]},{"id":"80401182.efec","type":"ui_text","z":"e3503e59.9525f","group":"3de33f8b.39b78","order":3,"width":0,"height":0,"name":"","label":"response","format":"{{msg.payload}}","layout":"row-spread","x":780,"y":260,"wires":[]},{"id":"57bf36f1.966c98","type":"ui_audio","z":"e3503e59.9525f","name":"","group":"3de33f8b.39b78","voice":"","always":"","x":760,"y":400,"wires":[]},{"id":"3de33f8b.39b78","type":"ui_group","z":"","name":"UI","tab":"9dff2420.3fdb08","order":1,"disp":true,"width":"6","collapse":false},{"id":"9dff2420.3fdb08","type":"ui_tab","z":"","name":"chatbot","icon":"dashboard","disabled":false,"hidden":false}]